<%- include("layout/header") %>
    <main>
        <section>
            <h2 class="title"">Login Now</h2>
            <form action=" /login" method="POST">
                <label for="username">Username:
                    <input type="text" name="username" id="username" placeholder="Enter username">
                </label>
                <br><br>
                <label for="password">Password:
                    <input type="text" name="password" id="password" placeholder="Enter password">
                </label>
                <br><br>
                <input type="submit" value="Login">
                </form>
        </section>
    </main>

<%- include("layout/footer") %>